image: golang:1.12

stages:
  - test
  - build

before_script:
  - mkdir -p /go/src/go.bmvs.io/ynab /go/src/_/builds
  - cp -r $CI_PROJECT_DIR /go/src/go.bmvs.io/ynab
  - ln -s /go/src/go.bmvs.io/ynab /go/src/_/builds/ynab
  - make dep

unit_tests:
  stage: test
  script:
    - make test

race_detector:
  stage: test
  script:
    - make race

memory_sanitizer:
  stage: test
  before_script:
    - apt update
    - apt install clang-4.0 -y
  script:
    - make msan

code_coverage:
  stage: test
  script:
    - make coverage

code_coverage_report:
  stage: test
  script:
    - make coverhtml
  only:
    - master

lint_code:
  stage: test
  script:
    - make lint

build:
  stage: build
  script:
    - make
